[submodule "mbed-os"]
	path = mbed-os
	url = https://github.com/slashdevteam/mbed-os.git
[submodule "gs1500m-driver"]
	path = drivers/gs1500m-driver
       url = https://github.com/slashdevteam/gs1500m-driver.git
[submodule "drivers/usb-cdc"]
	path = drivers/usb-cdc
	url = https://github.com/slashdevteam/usb-cdc.git
[submodule "jsmn"]
	path = jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "mqttlib"]
	path = mqttlib
	url = https://github.com/slashdevteam/paho.mqtt.embedded-c.git
